.sticker{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    cursor: pointer;
}

.rubiks-board{
    display: grid;
    grid-template-columns: 154px 154px 154px 154px;
    grid-template-rows: 154px 154px 154px;
}

.container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto auto;
}

.red-face{
    background-color: red;
}

.blue-face{
    background-color:blue;
}

.green-face{
    background-color: green;
}

.white-face{
    background-color: white;
}

.yellow-face{
    background-color: yellow;
}

.orange-face{
    background-color: orange;
}